<div class="category-new p-3 mb-5">
<h2>New category</h2>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Назад до категорій", categories_path, class: "btn btn-secondary btn-sm" %>
</div>
</div>