<footer id="footer" class="fixed-bottom mb-3">

<div class="container ">
   <div class="row align-items-center">
      <div class="col">
       <a class="navbar-brand" href="/">
        <img src="/assets/piggy-bank-fill.svg" alt="Logo" width="33" height="26" class="d-inline-block align-text-top">
          <span class="text-warning">Budget</span>App
       </a>
      </div>
    
      <div class="col">
        <p class = "copyright">Copyright © 2023 Nataliia Kotelnytska. Всі права захищені.</p>
      </div>
   </div>
</div>
</footer>